SmeRisk/trunk/App_WebReferences/UserServiceReference/UserService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TB_AUTHO_USER">
    <xs:sequence>
      <xs:element minOccurs="0" name="EMP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_TITLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_SURNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_TITLE_E" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_NAME_E" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMP_SURNAME_E" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PASSWD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXPIRE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="UPDATE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_SIGN_ON_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LAST_CHANGE_PASS_DATE" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TB_RELA_ROLE_EMPs" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_EMP">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_AUTHO_USER" nillable="true" type="tns:TB_AUTHO_USER" />
  <xs:complexType name="ArrayOfTB_RELA_ROLE_EMP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_RELA_ROLE_EMP" nillable="true" type="tns:TB_RELA_ROLE_EMP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_RELA_ROLE_EMP" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_EMP" />
  <xs:complexType name="TB_RELA_ROLE_EMP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="EMP_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_RELA_ROLE_EMP" nillable="true" type="tns:TB_RELA_ROLE_EMP" />
  <xs:complexType name="TB_AUTHO_ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ROLE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_VALUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ROLE_CATEGORY_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="PRIORITY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TB_RELA_ROLE_CIFs" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_CIF">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TB_RELA_ROLE_EMPs" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_EMP">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TB_RELA_ROLE_MENUs" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_MENU">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TB_RELA_ROLE_PAGE_ACTIONs" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_PAGE_ACTION">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="TB_AUTHEN_APPLICATIONs" nillable="true" type="tns:ArrayOfTB_AUTHEN_APPLICATION">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_AUTHO_ROLE" nillable="true" type="tns:TB_AUTHO_ROLE" />
  <xs:complexType name="ArrayOfTB_RELA_ROLE_CIF">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_RELA_ROLE_CIF" nillable="true" type="tns:TB_RELA_ROLE_CIF" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_RELA_ROLE_CIF" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_CIF" />
  <xs:complexType name="TB_RELA_ROLE_CIF">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="CIF" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_RELA_ROLE_CIF" nillable="true" type="tns:TB_RELA_ROLE_CIF" />
  <xs:complexType name="ArrayOfTB_RELA_ROLE_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_RELA_ROLE_MENU" nillable="true" type="tns:TB_RELA_ROLE_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_RELA_ROLE_MENU" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_MENU" />
  <xs:complexType name="TB_RELA_ROLE_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_KEY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MENU_KEY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_RELA_ROLE_MENU" nillable="true" type="tns:TB_RELA_ROLE_MENU" />
  <xs:complexType name="ArrayOfTB_RELA_ROLE_PAGE_ACTION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_RELA_ROLE_PAGE_ACTION" nillable="true" type="tns:TB_RELA_ROLE_PAGE_ACTION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_RELA_ROLE_PAGE_ACTION" nillable="true" type="tns:ArrayOfTB_RELA_ROLE_PAGE_ACTION" />
  <xs:complexType name="TB_RELA_ROLE_PAGE_ACTION">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="PAGE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="ACTION_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_RELA_ROLE_PAGE_ACTION" nillable="true" type="tns:TB_RELA_ROLE_PAGE_ACTION" />
  <xs:complexType name="ArrayOfTB_AUTHEN_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_AUTHEN_APPLICATION" nillable="true" type="tns:TB_AUTHEN_APPLICATION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_AUTHEN_APPLICATION" nillable="true" type="tns:ArrayOfTB_AUTHEN_APPLICATION" />
  <xs:complexType name="TB_AUTHEN_APPLICATION">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="APP_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_AUTHEN_APPLICATION" nillable="true" type="tns:TB_AUTHEN_APPLICATION" />
  <xs:complexType name="TB_AUTHO_ROLE_CATEGORY">
    <xs:sequence>
      <xs:element minOccurs="0" name="ROLE_CATEGORY_KEY" type="xs:int" />
      <xs:element minOccurs="0" name="ROLE_CATEGORY_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRIORITY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DEL_FLAG" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="TB_AUTHO_ROLEs" nillable="true" type="tns:ArrayOfTB_AUTHO_ROLE">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TB_AUTHO_ROLE_CATEGORY" nillable="true" type="tns:TB_AUTHO_ROLE_CATEGORY" />
  <xs:complexType name="ArrayOfTB_AUTHO_ROLE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TB_AUTHO_ROLE" nillable="true" type="tns:TB_AUTHO_ROLE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTB_AUTHO_ROLE" nillable="true" type="tns:ArrayOfTB_AUTHO_ROLE" />
</xs:schema>