SmeRisk/trunk/App_WebReferences/UserServiceReference/UserService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://leader1/UserSystem/service/user/UserService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" />
  <xs:complexType name="UserModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" base="q1:TB_AUTHO_USER">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleList" nillable="true" type="tns:ArrayOfRoleModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UserModel" nillable="true" type="tns:UserModel" />
  <xs:complexType name="ArrayOfRoleModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleModel" nillable="true" type="tns:RoleModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleModel" nillable="true" type="tns:ArrayOfRoleModel" />
  <xs:complexType name="RoleModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" base="q2:TB_AUTHO_ROLE">
        <xs:sequence>
          <xs:element minOccurs="0" name="RoleCategory" nillable="true" type="tns:RoleCategoryModel" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleModel" nillable="true" type="tns:RoleModel" />
  <xs:complexType name="RoleCategoryModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/UserSystemDataClasses" base="q3:TB_AUTHO_ROLE_CATEGORY">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RoleCategoryModel" nillable="true" type="tns:RoleCategoryModel" />
</xs:schema>